[submodule "third_party/src/zlib"]
	path = third_party/src/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/src/libpng"]
	path = third_party/src/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "third_party/src/libjpeg-turbo"]
	path = third_party/src/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "third_party/src/libwebp"]
	path = third_party/src/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "third_party/src/libavif"]
	path = third_party/src/libavif
	url = https://github.com/AOMediaCodec/libavif.git
[submodule "third_party/src/expat"]
	path = third_party/src/expat
	url = https://github.com/libexpat/libexpat.git
[submodule "third_party/src/harfbuzz"]
	path = third_party/src/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "third_party/src/icu"]
	path = third_party/src/icu
	url = https://github.com/unicode-org/icu.git
[submodule "third_party/src/icu4x"]
	path = third_party/src/icu4x
	url = https://github.com/unicode-org/icu4x.git
[submodule "third_party/src/libgrapheme"]
	path = third_party/src/libgrapheme
	url = https://github.com/FRIGN/libgrapheme.git
[submodule "third_party/src/dng_sdk"]
	path = third_party/src/dng_sdk
	url = https://android.googlesource.com/platform/external/dng_sdk
[submodule "third_party/src/piex"]
	path = third_party/src/piex
	url = https://github.com/google/piex.git
[submodule "third_party/src/wuffs"]
	path = third_party/src/wuffs
	url = https://github.com/google/wuffs.git
[submodule "third_party/src/aom"]
	path = third_party/src/aom
	url = https://aomedia.googlesource.com/aom
[submodule "third_party/src/libjxl"]
	path = third_party/src/libjxl
	url = https://github.com/libjxl/libjxl.git
[submodule "third_party/src/highway"]
	path = third_party/src/highway
	url = https://github.com/google/highway.git
[submodule "third_party/src/brotli"]
	path = third_party/src/brotli
	url = https://github.com/google/brotli.git
[submodule "third_party/src/lcms2"]
	path = third_party/src/lcms2
	url = https://github.com/mm2/Little-CMS.git
[submodule "third_party/src/fontconfig"]
	path = third_party/src/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "third_party/src/freetype2"]
	path = third_party/src/freetype2
	url = https://gitlab.freedesktop.org/freetype/freetype.git
